/*lOGIN*/

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
.fondo-login {
  font-family: Arial;

  /* Ubicación de la imagen */

  background-image: url(/myproyecto/img/fondo_login.jpg);

  /* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

  background-position: center center;

  /* Para que la imagen de fondo no se repita */

  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

  background-attachment: fixed;

  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

  background-size: cover;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 100vh;
}
.login-screen {
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 35px;
  padding-bottom: 55px;
  box-shadow: 10px 10px 48px -4px rgba(0, 0, 0, 0.92);
}

.tittle-login {
  text-align: center;
  color: #0f6ba5;
  text-shadow: 5px 5px 5px #aaa;
  padding-bottom: 10px;
}

.login-form {
  text-align: center;
}
.control-group-login {
  margin-bottom: 20px;
  position: relative;
}
.icon-login {
  position: absolute;
  width: 3.5rem;
  top: 0.5rem;
  font-size: x-large;
  color: #0f6ba5;
}

.login-field {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 300px;
  transition: border 0.5s;
}

.login-field:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}
.login-alert {
  width: 300px;
  margin: 0 auto;
}
.btn-login {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 300px;
  margin: 0 auto;
}

.btn-login:hover {
  background-color: #2980b9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

/* NAVBAR DE LA PAGINA PRINCIPAL*/

/* PARA QUE SE DESPLIEGUEN LOS MENUS AL HACER HOVER*/
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

/* SECCIÓN DIRECTORIO */

/* ICONO PDF*/

#icon-pdf-dir {
  /*margin-left: 15px;*/
  font-size: 25px;
  color: red;
  transition-duration: 0.3s;
}

#icon-pdf-dir:hover {
  color: #ffa502;
}
/* INPUT DE BUSQUEDA DEL DIRECTORIO*/
/* QUE DESAPAREZCA LA X EN EL IMPUT*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/*SE PONE LA EL ICON X DENTRO DEL INPUT*/
.input-container-search {
  position: relative;
}
.input-dir-search {
  padding-right: 15px;
}
/* SE AÑADE Y SE QUITA LA CLASE  FILTRO AL BUSCAR EN DIRECTORIO */

.filtro_directorio {
  display: none;
}

/*ICON X PARA LIMPIAR BÚSQUEDA*/
.clear-search-dir {
  position: absolute;
  top: 14%;
  right: 7px;
  color: #0f6ba5;
  font-size: larger;
  font-weight: bold;
  transition-duration: 0.7s;
}
.clear-search-dir:hover {
  -webkit-text-stroke: 1px;
  color: red;
}
.icon-clear-dir {
  display: none;
}

/* LA TABLA DIRECTORIO*/

.table-fixed {
  overflow-y: scroll;
  max-height: 400px;
}

/* LOS ICONOS EDIT Y DEL DE LA TABLA DIRECTORIO*/

.edit-table {
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: rgb(2, 159, 2);
  border-radius: 8px;
}

.edit-table:hover {
  background-color: rgb(2, 159, 2);
  color: white;
}

.del-table {
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: rgb(189, 42, 42);
  border-radius: 8px;
}

.del-table:hover {
  background-color: rgb(189, 42, 42);
  color: white;
}

.edit-modal {
  background-color: transparent;
}

/*MODALES DE DIRECTORIO*/
.modal-header-add {
  background-color: #0f6ba5;
  color: #fff;
}
.modal-header-edit {
  background-color: rgb(22, 115, 71);
  color: #fff;
}

.modal-header-delete {
  background-color: #bb2d3b;
  color: #fff;
}

/* MI Clase para tooltip*/
.mytooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.mytooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  width: 225px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1;
  bottom: 40px;
  left: 100px;
  transform: translateX(-50%);
}

.mytooltip:hover::before {
  visibility: visible;
  opacity: 1;
}

/* SECCIÓN INVENTARIO*/
.liInventario {
  margin: 15px;
}
@media (max-width: 768px) {
  .mynavbarInventario {
    flex-direction: row !important;
  }
  .mynavbarEtiquetas {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .colum1Inventario {
    height: 15%;
  }
  .colum2Inventario {
    height: 75%;
  }
  .liInventario {
    margin-right: 15px;
  }
}
